.container {
    display: grid;
    grid-template-areas:
                ". nav nav nav nav nav ."
                ". header header header header header ."
                ". . . . . . ."
                ". . . . . . ."
                ". section section section aside aside ."
                ". . . . aside aside ."
                ". article article article aside aside ."
                ". . . . . . ."
                ". footerOwnDesign footerOwnDesign footerOwnDesign footerOwnDesign footerOwnDesign .";
    justify-items: stretch;
    align-items: stretch;
    padding: 6px;
    width: 97vw;
    height: 97vh;
    grid-gap: 3px;
    border-radius: 3px;
    color: whitesmoke;
    font-size: x-large;
}

body{
    background-image: url("pics/hintergrund2048.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
}

.header, .nav, .section, .aside, .article, .footerOwnDesign {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);



}

.foreground {
    backdrop-filter: blur(10px);
}


.platzhalterx {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1px;
    background-color: transparent;
    }

.platzhaltery {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1px;
    background-color: transparent;
    }

.platzhalteryrechts {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1px;
    background-color: transparent;
    grid-area: platzhalteryrechts;
}

.header {
    grid-area: header;
}
.platzhalterX{
    grid-area: platzhalterX;
}
.platzhaltery{
    grid-area: platzhaltery;
}

.nav {
    grid-area: nav;
}

.section {
    grid-area: section;
}

.aside {
    grid-area: aside;
}

.article {
    grid-area: article;
}

.footerOwnDesign {
    grid-area: footerOwnDesign;
    background-color:rgba(0, 0, 0, 0.5);
}
